
.parent-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 15px 5px 15px;
}

hr {
    margin: 0 0 0 0;
}

.flex-mid-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.show-more {
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

